body {
  margin: 0;
  padding-top: 70px; /* important for fixed navbar */
  font-family: Arial, sans-serif;
}

.hero-section {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
              url('images/hero.jpg');
  background-size: cover;
  background-position: center;
}
.card:hover{
transform: scale(1.05);
transition: 0.3s;
}